 html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.home-1 {
    background-image: url('images/clinic-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0; */
    }

    .home-1-cont {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 10px;
    }

    .home-1-header {
      font-size: 3rem;
      font-weight: bold;
    }

    .body-text {
      font-size: 1.1rem;
      margin-top: 10px;
    }

    .btn-appointment {
      background-color: #28a745;
      border: none;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
      margin-top: 20px;
    }

    .navbar {
      padding: 15px 20px;
      background-color: #00a1ce;
    }

    .navbar-nav .nav-link {
      color: white;
      margin-left: 20px;
    }

    .nav-item .nav-link:hover {
      color: #28a745;
    }

    .navbar-brand {
      color: rgb(255, 255, 255);
      font-weight: bold;
    }

    .child-image {
      position: absolute;
      bottom: 0;
      right: 100px;
      max-width: 100%;
    }

    /*goals*/
    .goals-section {
      background-color: #f8f9fa;
      height: 100vh;
      display:flex;
    }

    .home-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f7f9fc;
    }
    
    .text-box {
      background-color: #2f4e6e;
      color: white;
      padding: 100px;
      padding-right: 40px;
      border-radius: 15px;
      text-align: center;
    }
    
    .home-2-header {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      padding-right: 280px;
    }
    
    .home-2-cont {
      font-size: 1rem;
      line-height: 1.6;
      text-align: right;
    }
    
    .home-2-goal {
      list-style-type: none;
      padding-left: 50px;
    }
    
    .home-2-goal li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .goal-number {
      background-color: #dde7f0;
      color: #2f4e6e;
      font-size: 60px;
      font-weight: bold;
      padding: 0px;
      border-radius: 50%;
      display: inline-block;
      width: 90px;
      text-align: center;
    }
    
    .goal-text {
      margin-left: 20px;
      font-size: 1.2rem;
      color: #2f4e6e;
    }

    /*therapist*/
    .therapist-section {
      background-color: #f8f9fa;
      height: 100vh;
    }

    .home-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f7f9fc;
    }

    .middle-background {
      background-color: #2f4e6e;
      opacity: 50%;
    }
    
    .test {
      margin-top: 160px;
    }

    .home-3-header {
      font-size: 40px;
      font-weight: bold;
      text-align: left;
    }

    .home-3-cont {
      font-size: 1rem;
      line-height: 1.6;
      text-align: left;
    }

    .therapist-name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 15px;
    }
    
    .therapist-image {
      max-width: 100%;
      border-radius: 10px;
    }
    
    .therapist-section .section-content {
      margin-top: 10px;
      font-size: 1rem;
    }